.body {
  height: 6vh;
  background-color: #728f72;
}

.parent-decorator {
  padding-top: 1vh;
}

.add {
  height: 2vh;
  width: 50%;
  background-color: green;
}

.delete {
  height: 2vh;
  width: 50%;
  background-color: red;
}

.footer {
  display: flex;
}